body {
  background-image: url("../public/images/Image.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  backdrop-filter: brightness(0.35);
  font-family: "Ubuntu", sans-serif;
}

main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 115px;
  gap: 52px;
  @media (min-width: 1024px) {
    padding-top: 0;
    gap: 0px;
  }
}
