$complementary-600: #ea580c;
$light-complementary: #ff9539;

$primary-050: #fcfcfc;
$primary-400: #90949f;
$primary-600: #5a5f70;
$primary-700: #1c202e;
$primary-900: #1c202e;

$bg-dark: #00000066;
$bg-transparent-grey: #fcfcfc4d;

$yellow-600: #ca8a04;
$light-yellow: #fef8e7;

$green-600: #16a34a;
$light-green: #f0faf4;

$red-600: #dc2626;
$light-red: #fde8e8;

$modal-title: #1f2937;
$modal-question: #6b7280;
