@import "../../../variables.scss";

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-050;
  gap: 1.25rem;
  padding: 2.5rem;
  border-radius: 1rem;
  max-width: 28rem;
  position: relative;
  transform: scale(0.95);
  animation: slideIn 0.3s forwards 0.1s;
}

.close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
