@import "../../../variables.scss";

.container {
  display: flex;
  justify-content: center;
}

.button {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  border-color: $primary-050;
  border-width: 1px;
  border-style: solid;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  cursor: pointer;

  &.left-button {
    padding-left: 12px;
    padding-right: 12px;
    background-color: $primary-050;
    font-weight: 700;
    border-top-left-radius: 72px;
    border-bottom-left-radius: 72px;
  }

  &.right-button {
    padding-left: 12px;
    padding-right: 12px;
    background-color: $bg-dark;
    color: $primary-050;
    font-weight: 500;
    border-top-right-radius: 72px;
    border-bottom-right-radius: 72px;
  }
}
